---
title: Scott Skender - Full Stack Ruby on Rails Web Developer
pageable: true
per_page: 10
---
%meta{name:"viewport", content:"initial-scale=1.0",width:"device-width"}

%section.mural
  %section.text
    %h2
      scott
    %h2
      skender
    %ol.normal
      %li
        Ruby
      %li
        RSpec
      %li
        Capybara
      %li
        Rails
      %li
        Sinatra
      %li
        PostgreSQL
      %li
        MySQL
      %li
        MongoDB
    %ol.middle
      %li
        JavaScript
      %li
        JQuery
      %li
        CoffeeScript
      %li
        Jasmine
      %li
        Protractor
      %li
        Express
      %li
        AngularJS
      %li
        MEAN
    %ol.right
      %li
        CSS
      %li
        SCSS
      %li
        HTML
      %li
        ERB
      %li
        HAML
      %li
        SLIM
      %li
        JSON
      %li
        XML

%section.mural.blogroll
  .row
    .twelve.columns
      - page_articles.each_with_index do |article, i|
        - break if i == 7
        .panel
          %h5
            = link_to article.title, article
            %span= article.date.strftime('%b %e')

%section.mural.projects
  .row
    .twelve.columns
      .panel
        Projects
      .panel
        %a{href: "http://scribble.scottskender.com"}='Scribble'
        %a{href: "https://github.com/vandosant/web-synthesizer", style: "font-size:50%"}='(GitHub Repo)'
      .panel
        %a{href: "http://langua.herokuapp.com"}='Langua'
        %a{href: "https://github.com/vandosant/language-app", style: "font-size:50%"}='(GitHub Repo)'
      .panel
        %a{href: "http://gameoflife.scottskender.com"}='Game of Life'
        %a{href: "https://github.com/vandosant/game-of-life", style: "font-size:50%"}='(GitHub Repo)'

%section.mural.contact
  .row
    .twelve.columns
      .panel
        Contact
      %a{href: "https://twitter.com/scottskender"}
        .panel
          Twitter
      %a{href: "https://github.com/vandosant"}
        .panel
          GitHub
      %a{href: "https://www.linkedin.com/in/scottskender"}
        .panel
          LinkedIn
      %a{href: "mailto:sjskender@gmail.com"}
        .panel
          Email

.row
  .six.columns
    - if prev_page
      .panel
        %p
          = link_to 'Previous page', prev_page

  .six.columns
    - if paginate
      - if next_page
        .panel
          %p= link_to 'Next page', next_page